<%= form_with(model: provider, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>
  
  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  
  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>
  
  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :primary_contact %>
    <%= form.text_field :primary_contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
