<h1>Providers</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.address %></td>
        <td>
          <%= link_to 'Show', provider %>
          <%= link_to 'Edit', edit_provider_path(provider) %>
          <%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Provider', new_provider_path %>
