<%= render 'shared/header', title: 'Provider Details' %>

<div class="container">
  <h1 class="page-title">Provider Details</h1>
  
  <%= link_to 'Edit', edit_provider_path(@provider), class: 'btn btn-warning btn-sm' %>

  <dl class="row mt-4">
    <b><dt class="col-sm-3">Provider Name:</b> <%= @provider.name %></p>
    <b><dt class="col-sm-3">Internal ID:</b> <%= @provider.id %></p>
    <b><dt class="col-sm-3">Phone Number:</b> <%= @provider.phone_number %></p>
    <b><dt class="col-sm-3">Email:</b> <%= @provider.email %></p>
    <b><dt class="col-sm-3">Primary Contact:</b> <%= @provider.primary_contact %></p>
    <b><dt class="col-sm-3">Address:</b> <%= @provider.address_full %></p>
  </dl>

</div>

<%= render 'shared/footer' %>