<%= render 'shared/header', title: 'Provider Details' %>

<div class="container">
  <h1 class="page-title">Provider Details</h1>

  <dl class="row mt-4">
    <dt class="col-sm-3">Provider Name: <%= @provider.name %></p>
    <dt class="col-sm-3">Internal ID: <%= @provider.id %></p>
  </dl>

  <dl class="row mt-4">
    <%= link_to 'Edit', edit_provider_path(@provider), class: 'btn btn-warning btn-sm' %>
    <%= link_to 'Back', providers_path, class: 'btn btn-secondary btn-sm' %>
  </dd>
</div>

<%= render 'shared/footer' %>