<%= render 'shared/header', title: 'Scholarship Details' %>

<div class="container">
  <h1 class="page-title">Scholarship Details</h1>

  <dl class="row mt-4">
    <%= link_to 'Edit', edit_scholarship_path(@scholarship), class: 'btn btn-warning btn-sm' %>
    <%= link_to 'Scholarships', scholarships_path, class: 'btn btn-secondary btn-sm' %>
  </dd>

  <br><br>

  <dl class="row mt-4">
    <b><dt class="col-sm-3">Year:</b> <%= @scholarship.year %></p>
    <b><dt class="col-sm-3">Client:</b> <%= link_to @scholarship.client.full_name, client_path(@scholarship.client) %></p>
    <b><dt class="col-sm-3">Child Name:</b> <%= @scholarship.child_full_name %></p>
    <b><dt class="col-sm-3">Child Birth Date:</b> <%= @scholarship.child_birth_date %></p>
    <b><dt class="col-sm-3">Provider:</b> <%= link_to @scholarship.provider.name, provider_path(@scholarship.provider) %></p>
    <b><dt class="col-sm-3">Billing Cylce:</b> <%= @scholarship.billing_cycle %></p>
    <b><dt class="col-sm-3">Cycle Tuition:</b> <%= @scholarship.cycle_tuition %></p>
    <b><dt class="col-sm-3">Discount:</b> <%= @scholarship.cycle_discount %></p>
    <b><dt class="col-sm-3">State Voucher:</b> <%= @scholarship.cycle_state_voucher %></p>
    <b><dt class="col-sm-3">Parent Copay:</b> <%= @scholarship.cycle_parent_copay %></p>
    <b><dt class="col-sm-3">CCC Pay:</b> <%= @scholarship.cycle_ccc_pay %></p>
    <b><dt class="col-sm-3">Duration:</b> <%= @scholarship.duration_in_weeks %> weeks</p>
  </dl>

  <br>
  <dt class="col-sm-3"><h2>Payment Schedule</h2></dt>

  <dd class="col-sm-9">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <% if @scholarship.billing_cycle == "Monthly" %>
            <th>Month</th>
          <% else %>
            <th>Week End</th>
          <% end %>
          <th>Total Tuition</th>
          <th>Voucher</th>
          <th>Discount</th>
          <th>Family Co-Pay</th>
          <th>CCC Pay</th>
          <th>Paid</th>
          <th>Credit Used</th>
          <th>Payment Date</th>
          <th>Reference</th>
          <th>Remaining Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @scholarship.payments.each do |payment| %>
          <tr>
            <% if @scholarship.billing_cycle == "Monthly" %>
              <td><%= link_to payment.month_name, edit_payment_path(payment), class: 'nav-link' %></td>
            <% else %>
              <td><%= link_to payment.week_end_date, edit_payment_path(payment), class: 'nav-link' %></td>
            <% end %>
            <td><%= number_to_currency(@scholarship.cycle_tuition) %></td>
            <td><%= number_to_currency(@scholarship.cycle_state_voucher) %></td>
            <td><%= number_to_currency(@scholarship.cycle_discount) %></td>
            <td><%= number_to_currency(@scholarship.cycle_parent_copay) %></td>
            <td><%= number_to_currency(@scholarship.cycle_ccc_pay) %></td>
            <td><%= number_to_currency(payment.amount_paid) %></td>
            <td><%= number_to_currency(0) %></td>
            <td><%= payment.date_paid.try(:strftime, '%Y-%m-%d') %></td>
            <td><%= payment.reference %></td>
            <td><%= number_to_currency(payment.remaining_balance @scholarship.cycle_ccc_pay) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td><strong><%= number_to_currency(@scholarship.cycle_tuition * @scholarship.n_payments) %></strong></td>
          <td><strong><%= number_to_currency(@scholarship.cycle_state_voucher * @scholarship.n_payments) %></strong></td>
          <td><strong><%= number_to_currency(@scholarship.cycle_discount * @scholarship.n_payments) %></strong></td>
          <td><strong><%= number_to_currency(@scholarship.cycle_parent_copay * @scholarship.n_payments) %></strong></td>
          <td><strong><%= number_to_currency(@scholarship.cycle_ccc_pay * @scholarship.n_payments) %></strong></td>
          <td><strong><%= number_to_currency(@scholarship.payments.sum(&:amount_paid)) %></strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong><%= number_to_currency(@scholarship.remaining_balance) %></strong></td>
        </tr>
      </tfoot>
    </table>
  </dd>
</div>

<%= render 'shared/footer' %>