<header class="site-header">
  <div class="container">
    <div class="logo">
      <%= link_to ENV['COMPANY_NAME'], root_path, class: 'logo-link' %>
    </div>
    <nav class="main-nav">
      <%= link_to 'Clients', clients_path, class: 'nav-link' %>
      <%= link_to 'Providers', providers_path, class: 'nav-link' %>
      <%= link_to 'Scholarships', scholarships_path, class: 'nav-link' %>
      <%= link_to 'Payments', payments_path, class: 'nav-link' %>
      <!-- Add more links for other models as needed -->
    </nav>
  </div>
</header>