<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>

  <p><strong>First Name:</strong> <%= @client.first_name %></p>
  <p><strong>Last Name:</strong> <%= @client.last_name %></p>
  <p><strong>Child's Name:</strong> <%= @client.child_name %></p>

  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %>

  <%= button_to "Destroy this client", @client, method: :delete %>
</div>
