<%= render 'shared/header', title: 'Client Details' %>

<div class="container">
  <h1 class="page-title">Client Details</h1>

  <dl class="row mt-4">
    <dt class="col-sm-3">Name: <%= @client.full_name %></p>
    <dt class="col-sm-3">Internal ID: <%= @client.id %></p>
  </dl>

  <dl class="row mt-4">
    <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-warning btn-sm' %>
    <%= link_to 'Back', clients_path, class: 'btn btn-secondary btn-sm' %>
  </dd>
</div>

<%= render 'shared/footer' %>