<%= render 'shared/header', title: 'Client Details' %>

<div class="container">
  <h1 class="page-title"><%= @client.full_name %></h1>

  <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-warning btn-sm' %>
  <%= link_to 'Create Scholarship', new_scholarship_path, class: 'btn btn-warning btn-sm' %>

  <dl class="row mt-4">
    <b><dt class="col-sm-3">Internal ID:</b> <%= @client.id %></p>
    
    <br>

    <% if !@client.notes.nil? %>
      <dt class="col-sm-3">Notes: <%= @client.notes %></p>
      <br>
    <% end %>

    <b><dt class="col-sm-3">Email:</b> <%= @client.email %></p>
    <b><dt class="col-sm-3">Phone:</b> <%= @client.phone_number %></p>
    <b><dt class="col-sm-3">Address:</b> <%= @client.address_full %></p>
    <b><dt class="col-sm-3">Date of Birth:</b> <%= @client.date_of_birth %></p>
    <b><dt class="col-sm-3">First Enrolled:</b> <%= @client.first_enrolled %></p>
    <b><dt class="col-sm-3">Census Tract:</b> <%= @client.census_tract %></p>
    <b><dt class="col-sm-3">QOZ:</b> <%= @client.qoz %></p>
    <b><dt class="col-sm-3">Marital Status:</b> <%= @client.marital_status %></p>
    <b><dt class="col-sm-3">Monthly Salary:</b> <%= number_to_currency(@client.monthly_salary) %></p>

    <% if !@client.referring_partner.nil? %>
      <b><dt class="col-sm-3">Referring Partner:</b> <%= @client.referring_partner %></p>
    <% end %>

    <b><dt class="col-sm-3">County of Residence:</b> <%= @client.county_residence %></p>
    <b><dt class="col-sm-3">Works in County:</b> <%= @client.county_work %></p>
    <b><dt class="col-sm-3">Employer:</b> <%= @client.employer %></p>
    <b><dt class="col-sm-3">Job Title:</b> <%= @client.job_title %></p>

    <% if @client.scholarships.any? %>
      <br>
      <dt class="col-sm-3"><h2>Payment Schedule</h2></dt>
    <% end %>

    <dd class="col-sm-9">
      <% @client.scholarships.each do |scholarship| %>
        <dt class="col-sm-3"><h3><%= link_to scholarship.display_name, scholarship_path(scholarship), class: 'nav-link' %> </h3></dt>
        <dt class="col-sm-3"><h4>
          Provider: <%= link_to scholarship.provider.name, provider_path(scholarship.provider), class: 'nav-link' %>
        </h4></dt>

        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <% if scholarship.billing_cycle == "Monthly" %>
                <th>Month</th>
              <% else %>
                <th>Week End</th>
              <% end %>
              <th>Total Tuition</th>
              <th>Voucher</th>
              <th>Discount</th>
              <th>Family Co-Pay</th>
              <th>CCC Pay</th>
              <th>Paid</th>
              <th>Credit Used</th>
              <th>Payment Date</th>
              <th>Reference</th>
              <th>Remaining Balance</th>
            </tr>
          </thead>
          <tbody>
            <% scholarship.payments.each do |payment| %>
              <tr>
                <% if scholarship.billing_cycle == "Monthly" %>
                  <td><%= link_to payment.month_name, edit_payment_path(payment), class: 'nav-link' %></td>
                <% else %>
                  <td><%= link_to payment.week_end_date, edit_payment_path(payment), class: 'nav-link' %></td>
                <% end %>
                <td><%= number_to_currency(scholarship.cycle_tuition) %></td>
                <td><%= number_to_currency(scholarship.cycle_state_voucher) %></td>
                <td><%= number_to_currency(scholarship.cycle_discount) %></td>
                <td><%= number_to_currency(scholarship.cycle_parent_copay) %></td>
                <td><%= number_to_currency(scholarship.cycle_ccc_pay) %></td>
                <td><%= number_to_currency(payment.amount_paid) %></td>
                <td><%= number_to_currency(0) %></td>
                <td><%= payment.date_paid.try(:strftime, '%Y-%m-%d') %></td>
                <td><%= payment.reference %></td>
                <td><%= number_to_currency(payment.remaining_balance scholarship.cycle_ccc_pay) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td><strong><%= number_to_currency(scholarship.cycle_tuition * scholarship.n_payments) %></strong></td>
              <td><strong><%= number_to_currency(scholarship.cycle_state_voucher * scholarship.n_payments) %></strong></td>
              <td><strong><%= number_to_currency(scholarship.cycle_discount * scholarship.n_payments) %></strong></td>
              <td><strong><%= number_to_currency(scholarship.cycle_parent_copay * scholarship.n_payments) %></strong></td>
              <td><strong><%= number_to_currency(scholarship.cycle_ccc_pay * scholarship.n_payments) %></strong></td>
              <td><strong><%= number_to_currency(scholarship.payments.sum(&:amount_paid)) %></strong></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong><%= number_to_currency(scholarship.remaining_balance) %></strong></td>
            </tr>
          </tfoot>
        </table>
      <% end %>
    </dd>

    <!-- Add more attributes as needed... -->
  </dl>
</div>

<%= render 'shared/footer' %>